<!DOCTYPE html>
<html>
<head>
  <meta name="keyword" content="Random Quote generator" charset="UTF-8"/>
  <meta name="description" content="Get random quotes on the fly, Famous quotes from great people, Inspiration quote" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="../views/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="../views/quote.css" />
  <!--<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?famiy=" />-->
  <title>Random Quote </title>
</head>
<body>

  <div class="container">
    <div class="panel panel-body">
      <div class="text-center" id="quote-content">
        <span id="quote-text" class="spacious-quote"> </span>
      </div>
      <div id="quote-author" class="spacious-author">
        By <span id="author"> </span>
      </div>
      <div class="spacious-button">
        <a class="btn btn-primary pull-left btn-md" id="tweet">Tweet Quote</a>
        <button type="button" class="btn btn-primary pull-right btn-md" id="myquote">Next Quote</button>
      </div>
    </div>
  </div>


  <script src="../libraries/jquery-3.1.1.min.js"></script>
  <script src="../libraries/bootstrap.js"></script>
  <script src="../libraries/quote.js"></script>

</body>
</html>
